body {
    background-color: rgb(251, 251, 251);
    min-height: 100vh;
}

.bg-white {
    background: #fff !important;
}

.nav-logo {
    width: 5rem;
}

.option {
    /* background: red; */
    border: 2px solid #0539f37b;
    box-shadow: 2px 3px 4px #6a6a6a2d;
}

.answer_indicator {
    width: 15px !important;
    height: 16px !important;
    left: 5px;
    position: relative;
    margin-top: 12px;
}

.fs-smaller {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px !important;
}

.w-min-60 {
    width: 55vw;
}

#start_time {
    width: 50px !important;
}

.end-10 {
    right: 10px;
    bottom: 10px;
}

.navbar{
    border-bottom: 1px solid rgb(206, 206, 206);
}